node-red-sample.json
[
    {
        "id": "b90d9443.055f78",
        "type": "inject",
        "z": "3c4ce140.fe94be",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "a096e04c.0f18a"
            ]
        ]
    },
    {
        "id": "a096e04c.0f18a",
        "type": "function",
        "z": "3c4ce140.fe94be",
        "name": "influx line protocol",
        "func": "var curHumid = (50 + 20*Math.random()).toFixed(2);\nvar curTemp = (20 + 5*Math.random()).toFixed(2);\n// timestamp must belong to measurement time\n// uts is UTC timestamp\n// Bangkok, Jakarta must +07:00 hours\nvar uts = (Math.floor(Date.now())).toString();\nmsg.payload = \"mm19070001,location=Sadao humid=\" + curHumid +  \",temp=\" + curTemp + \" \" + uts + \"000000\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "5cfa7e8b.65124",
                "b0640698.6168e8"
            ]
        ]
    },
    {
        "id": "5cfa7e8b.65124",
        "type": "mqtt out",
        "z": "3c4ce140.fe94be",
        "name": "",
        "topic": "influx/mm<your mid>",
        "qos": "0",
        "retain": "false",
        "broker": "80b2ed18.52e7c",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "b0640698.6168e8",
        "type": "debug",
        "z": "3c4ce140.fe94be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "80b2ed18.52e7c",
        "type": "mqtt-broker",
        "z": "",
        "name": "localBroker",
        "broker": "192.168.43.143",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]